.editor {
    width: 33%;
    height: 50%;
    border-right: 2px solid wheat;
    overflow-y: scroll;
}

.editor-heading {
    background-color: black;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
    margin: 0px;
    font-size: small;
}